[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy-cockroachdb = "*"
flask-bcrypt = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"
