.container {
    @apply min-h-screen flex flex-col bg-no-repeat bg-bottom relative;
    background-color: #E8EEF2;
    min-width: 850px;
}

.topbar {
    @apply px-4;
}

.main {
    @apply justify-center items-center flex-wrap flex flex-1;
}

.appname {
    @apply text-3xl p-3 font-bold float-left;
}

.grid {
    @apply inline-block align-top justify-center items-center flex-wrap flex z-10;
}

.card {
    @apply rounded-2xl p-6 bg-white bg-opacity-75 text-center;
}

.card h1 {
    @apply text-4xl font-bold mb-5;
}

.card input {
    background-color: #C4C4C4;
    @apply text-xl p-3 mb-5;
}

.field_alert {
    @apply text-sm text-red-400 text-left
}

.field_bar {
    @apply clear-both;
}

.button_bar {
    @apply clear-both my-10;
}

.form_left {
    @apply float-left;
}

.form_right{
    @apply float-right;
}

#earth {
    @apply absolute;
    top: 15%;
    left: 34%;
}

#galaxy1 {
    @apply absolute;
    top: 32%;
    left: 44%;
}

#ship {
    @apply absolute;
    top: 10%;
    left: 81%;
}

#galaxy2 {
    @apply absolute;
    top: 7%;
    left: 0%;
}

#planet1 {
    @apply absolute;
    top: 31%;
    right: 0%;
}

#planet2 {
    @apply absolute;
    top: 47%;
    left: 15%;
}

#ground {
    @apply absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
}

