.header {
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #b2caed, #95d2e8, #8bd6d4, #9ed6b6, #c1d19b);
    height: 350px;
}

.headerContainer {
    max-width: 1090px;
    width: 75%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.containerWrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    margin-top: 5px;
    height: 400px;
    max-width: 1100px;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.courseTitle {
    font-size: 32px;
    font-family:"Work Sans";
    font-weight: bold;
    margin: 50px 10px 10px 30px;
}

.courseSubtitle {
    font-size: 28;
    font-family:"Work Sans";
    font-weight: normal;
    margin: 0px 10px 10px 30px;
}

.courseProf {
    font-size: 28;
    font-family:"Work Sans";
    font-weight: normal;
    margin: 0px 10px 10px 30px;
}

.headings {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.headingsContainer{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.about{
    font-size: 28;
    font-family:"Work Sans";
    font-weight: bold;
    margin: 0px 5px 0px 40px;
}

.instructor {
    font-size: 28;
    font-family:"Work Sans";
    font-weight: lighter;
    margin: 0px 5px;
}

.syllabus {
    font-size: 28;
    font-family:"Work Sans";
    font-weight: lighter;
    margin: 0px 5px;
}

.reviews {
    font-size: 28;
    font-family:"Work Sans";
    font-weight: lighter;
    margin: 0px 5px;
}

.faq {
    font-size: 28;
    font-family:"Work Sans";
    font-weight: lighter;
    margin: 0px 5px;
}
